.background{
    -fx-background-color: linear-gradient(to right, #18329b, #000000);
}

.pane{
    -fx-background-radius: 10;
    -fx-background-color: #FFFFFF;
}

.text{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}