.Container_Main {
    -fx-background-color: #000000;
}


.panelColor{
    -fx-background-color: #000000;
}

.Stack_Image{
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10;
    -fx-background-radius: 12;
}