
#nameColumn{
    -fx-background-color: rgb(98, 95, 95);
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-text: black;
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: -1px;
}

#imageColumn{
    -fx-background-color: rgb(98, 95, 95);
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-text: black;
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: -1px;
}

#estadioColumn{
    -fx-background-color: rgb(98, 95, 95);
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-text: black;
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: -1px;
}

#ciudadColumn{
    -fx-background-color: rgb(98, 95, 95);
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-text: black;
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: -1px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-background-color: rgb(5, 11, 37);
    -fx-border-color: rgb(0, 0, 0);
}

.buttonEquipo{
    -fx-background-color: rgba(118, 24, 155, 0.59);
    -fx-text-fill: white;
    -fx-border-color: #ffffff;
}

.custom-tableView{
    -fx-background-color: rgb(5, 11, 37);
    -fx-text-fill: black;
    -fx-font-size: 22px;
    -fx-border-color: rgb(255, 255, 255);
}

#panelSearch{
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: black;
    -fx-font-size: 22px;
    -fx-border-color: rgb(255, 255, 255);
}

/* Visual Predertminado Se va a cambiar*/
.root{
    -fx-background-color: linear-gradient(to right, #18329b, #000000);
}
.label{
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-text-fill:"white";
}

#titleLabel{
    -fx-font-size: 60px;
}

#labelPag{
    -fx-font-size: 60px;
    -fx-translate-x: -50px;
}
#background{
    -fx-background-color: linear-gradient(to right, #18329b, #000000);

}

#background2{
    -fx-background-color: linear-gradient(to right, #000000, #000000);
}

#myLabel{
    -fx-font-size: 50px;
    -fx-translate-x: -60px;
    -fx-font-family: "Arial";
    -fx-text-fill:"white";
    -fx-stroke-width: 20px;
}



.custom-tableView{
    -fx-background-color: linear-gradient(to right, #18329b, #000000);
    -fx-text-fill: black;
    -fx-font-size: 22px;
    -fx-border-color: rgb(255, 255, 255);
}

.table-view .column-header .label {
    -fx-text-fill: black;
}

#anchorPlayer{
    -fx-background-color: linear-gradient(to right, #18329b, #000000);
}

#labelJugador{
    -fx-font-size: 50px;
    -fx-translate-x: 45px;
    -fx-font-family: "Arial Black";
    -fx-text-fill:"white";
    -fx-stroke-width: 20px;
}

