#background{
    -fx-background-color: #111111;
}

#nameColumn{
    -fx-background-color: rgb(161, 161, 164);
    -fx-text-fill: black;
    -fx-font-size: 26px;
    -fx-text: black;
    -fx-border-color: rgb(250, 250, 250);
    -fx-padding: -1px;
}

#posicionColumn{
    -fx-background-color: rgb(161, 161, 164);
    -fx-text-fill: black;
    -fx-font-size: 26px;
    -fx-text: black;
    -fx-border-color: rgb(250, 250, 250);
    -fx-padding: -1px;
}

#fotoColumn{
    -fx-background-color: rgb(161, 161, 164);
    -fx-text-fill: black;
    -fx-font-size: 26px;
    -fx-text: black;
    -fx-border-color: rgb(250, 250, 250);
    -fx-padding: -1px;
}

#equipoColumn{
    -fx-background-color: rgb(161, 161, 164);
    -fx-text-fill: black;
    -fx-font-size: 26px;
    -fx-text: black;
    -fx-border-color: rgb(250, 250, 250);
    -fx-padding: -1px;
}

#numeroColumn{
    -fx-background-color: rgb(161, 161, 164);
    -fx-text-fill: black;
    -fx-font-size: 26px;
    -fx-text: black;
    -fx-border-color: rgb(250, 250, 250);
    -fx-padding: -1px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-background-color: rgb(161, 161, 164);
    -fx-border-color: rgb(250, 250, 250);
}

.custom-tableView{
    -fx-background-color: rgb(161, 161, 164);
    -fx-text-fill: black;
    -fx-font-size: 22px;
    -fx-border-color: rgb(255, 255, 255);
}

.panelSearch{
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: black;
    -fx-font-size: 22px;
    -fx-border-color: rgb(255, 255, 255);
}

.buttonEquipo{
    -fx-background-color: rgba(96, 176, 107, 0.59);
    -fx-text-fill: white;
    -fx-border-color: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
    -fx-text-fill:"white";
}


/* Visual Predertminado Se va a cambiar*/
.root{
    -fx-background-color: linear-gradient(to right, #18329b, #000000);
}

.label{
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-text-fill:"white";
}

.table-view .column-header .label {
    -fx-text-fill: black;
}

#labelJugador{
    -fx-font-size: 50px;
    -fx-translate-x: 45px;
    -fx-font-family: "Arial Black";
    -fx-text-fill:"white";
    -fx-stroke-width: 20px;
}